/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

.register-btn {
  left: 11rem;
}

body {
  font-family: "Poppins", sans-serif;
}
.carousel-item {
  height: 550px;
}
#carousel-info {
  height: 120%;
  width: 50%;
}
#carousel-cover-1 {
  background: linear-gradient(
      rgba(29, 29, 29, 0.7) 100%,
      rgba(29, 29, 29, 0.7) 100%
    ),
    url("images/cover/cover-1.png");
  background-size: cover;
  background-position: center;
}
#carousel-cover-2 {
  background: linear-gradient(
      rgba(29, 29, 29, 0.7) 100%,
      rgba(29, 29, 29, 0.7) 100%
    ),
    url("images/cover/cover-2.jpg");
  background-size: cover;
  background-position: center;
}
#carousel-cover-3 {
  background: linear-gradient(
      rgba(29, 29, 29, 0.7) 100%,
      rgba(29, 29, 29, 0.7) 100%
    ),
    url("images/cover/cover-3.jpg");
  background-size: cover;
  background-position: center;
}

/* media query */

/* small mobile device */
@media screen and (min-width:320px) and (max-width:575px) {
  .faq-header {
    width: 100% !important;
  }

  .course-img img {
    width: 315px;
    margin-left: 0rem;
    height: 210px;
  }
  .course-info{
    margin-left: 0rem !important;
  }

}


/* mobile device */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .faq-header {
    width: 100% !important;
  }
  .course-img img {
    width: 380px;
    margin-left: 4rem;
    height: 250px;
  }
  .course-info{
    margin-left: 4rem !important;
  }
}
/* tablet device */
@media screen and (min-width: 769px) and (max-width: 991px) {
  .faq-header {
    width: 100% !important;
  }
}
